body {
    background: burlywood;
    color: black;
    padding: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 2em;
    padding-bottom: 5px;
    border-bottom: 1px solid blue;
    letter-spacing: normal;
}


#portrait{
    width: 350px;
    border: tomato;
    border-style: solid;
    border: 50px;
}

#nursing{
    width: 350px;
    border: tomato;
    border-style:solid;
    border: 50px;
}

#aid{
    width: 280px;
    border: tomato;
    border-style:solid;
    border: 50px;
}

.footer{
    font-size: 1em;
}

.card{
    border-radius: 10px;
    gap: 10px;
    padding: 5px;
    display: inline-block;
}

#c1 {
    background: rebeccapurple;
}

#c2 {
    background: maroon;
}

#c3 {
    background: darkcyan;
   
}

#c4 {
    background: green;
}

#c8 {
    background: palevioletred;
}

#c5{
    position: absolute;
    padding: 25px;
    top: 300px;
    left: 50px;
}

#c6{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#c7{
    position: absolute;
    padding: 25px;
    top: 270px;
    left: 480px;
}

#c9{
    position: absolute;
    padding: 25px;
    top: 290px;
    left: 900px;
}


@media (max-width: 600px) {
    #c1 {
        background: white;
    }
}